﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.footer{
	width: 100%;
	position: fixed;
	margin-bottom: 0px;
	height: 80px;
	background-color:purple;
	
}
 
.footerContent{
	width: 50%;
	margin: auto;
	padding: 5px;
	text-align: center;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

.tooltip{  
       margin-left:100px;             
   }  
   .tooltip-inner {  
       background: #ff3333; /*tooltip text background color*/  
       border-radius: 0px;  
       font-weight: bolder;  
       box-shadow: 1px 1px 1px 1px black;  
   }  
   .tooltip.top .tooltip-arrow {  
       border-top-color: red;  
       margin-left: -55px;             
   }  
   /*input[type="text"],input[type="password"],input[type="number"],input[type="email"], #CountryDropdownlst {  
       box-shadow: 1px 1px 1px 1px grey;  
       width: 200px;  
   }  
   #CountryDropdownlst{  
       height:27px;  
   }*/  
   /*.tooltip-inner tooltip-arrow { 
       margin-left: 200px; 
   }*/  

