﻿@model WebApplicationMitrais.Models.Registration

@{
    ViewBag.Title = "Test"; 
}
<input style="width:700px" id="enableid" type="button" onclick="grayer('registrationform', false)" value="enable form 1" />
<input style="width:700px" id="disableid" type="button" onclick="grayer('registrationform', true)" value=" disable form 1" />

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "registrationform" }))
{
    @Html.AntiForgeryToken()


    <div>
        @Html.ValidationSummary(true)
        <div class="wrp">
            <table align="center">
                <tr>
                    <td align="left">
                        @Html.Label("Registration","tes")

                    </td>
                </tr>
                <tr>
                    <td align="left">

                        @Html.TextBox("MobileNumber", "", new { placeholder = "Mobile number" })
                        @Html.ValidationMessageFor(mod => mod.MobileNumber)


                    </td>
                </tr>
                <tr>
                    <td align="left">

                        @Html.TextBox("FirstName", "", new { placeholder = "First name" })
                        @Html.ValidationMessageFor(model => model.FirstName)

                    </td>
                </tr>
                <tr>
                    <td align="left">

                        @Html.TextBox("LastName", "", new { placeholder = "Last name" })
                        @Html.ValidationMessageFor(model => model.LastName)

                    </td>
                </tr>
                <tr>
                    <td align="left">
                        Date of birth
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        @Html.DropDownListFor(m => m.Month, new List<SelectListItem>
                           { new SelectListItem{Text="Januari", Value="Januari"},
                             new SelectListItem{Text="Febuari", Value="Febuari"},
                             new SelectListItem{Text="Maret", Value="Maret"},
                             new SelectListItem{Text="April", Value="April"},
                             new SelectListItem{Text="Mei", Value="Mei"},
                             new SelectListItem{Text="Juni", Value="Juni"},
                             new SelectListItem{Text="Juli", Value="Juli"},
                             new SelectListItem{Text="Agustus", Value="Agustus"},
                             new SelectListItem{Text = "September", Value = "September" },
                             new SelectListItem{Text="Oktober", Value="Oktober"},
                             new SelectListItem{Text="November", Value="November"},
                             new SelectListItem{Text="Desember", Value="Desember"}},
                             "Month")
                        @Html.DropDownListFor(m => m.Date, new List<SelectListItem>
                           { new SelectListItem{Text="1", Value="1"},
                             new SelectListItem{Text="2", Value="2"},
                             new SelectListItem{Text="3", Value="3"},
                             new SelectListItem{Text="4", Value="4"},
                             new SelectListItem{Text="5", Value="5"},
                             new SelectListItem{Text="6", Value="6"},
                             new SelectListItem{Text="7", Value="7"},
                             new SelectListItem{Text="8", Value="8"},
                             new SelectListItem{Text="9", Value = "9" },
                             new SelectListItem{Text="10", Value="10"},
                             new SelectListItem{Text="11", Value="11"},
                             new SelectListItem{Text="12", Value="12"},
                             new SelectListItem{Text="13", Value="13"},
                             new SelectListItem{Text="14", Value="14"},
                             new SelectListItem{Text="15", Value="15"},
                             new SelectListItem{Text="16", Value="16"},
                             new SelectListItem{Text="17", Value="17"},
                             new SelectListItem{Text="18", Value="18"},
                             new SelectListItem{Text="19", Value="19"},
                             new SelectListItem{Text="20", Value = "20" },
                             new SelectListItem{Text="21", Value="21"},
                             new SelectListItem{Text="22", Value="22"},
                             new SelectListItem{Text="23", Value="23"}},
                             "Date")
                        @Html.DropDownListFor(m => m.Year, new List<SelectListItem>
                           { new SelectListItem{Text="2010", Value="2010"},
                             new SelectListItem{Text="2011", Value="2011"},
                             new SelectListItem{Text="2012", Value="2012"},
                             new SelectListItem{Text="2013", Value="2013"},
                             new SelectListItem{Text="2014", Value="2014"},
                             new SelectListItem{Text="2015", Value="2015"},
                             new SelectListItem{Text="2016", Value="2016"},
                             new SelectListItem{Text="2017", Value="2017"}},
                             "Year")
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <span>Male:</span>
                        @Html.RadioButtonFor(model => model.Gender, "M", new { id = "male", @style = "width:auto;background:none;border:none" })
                        <span>Female:</span>
                        @Html.RadioButtonFor(model => model.Gender, "F", new { id = "female", @style = "width:auto;background:none;border:none" })


                    </td>
                </tr>

                <tr>
                    <td align="left">

                        @Html.TextBox("Email", "", new { placeholder = "Email" })
                        @Html.ValidationMessageFor(model => model.Email)

                    </td>
                </tr>
                <tr>
                    <td align="center"><input style="width:700px" type="submit" id="REGISTERFORM" value="Register" /></td>

                </tr>
                <tr></tr>

            </table>
        </div>



    </div>
}
<div class='footer'>
    <div class='footerContent'>

        <input style="width:700px" type="button" value="Login" id="LOGID" />



    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/CSS/style.css")

    <script type="text/javascript">
    $(document).ready(function () {
        $("#registrationform :input").prop("disabled", false);
        $('#enableid').hide();
        $('#disableid').hide();
        $("label[for='Registration']").html("Registration");       
        $('#LOGID').hide();
         
    });

    $("#LOGID").click(function(){
        window.location.href = '/Home/Login';
        return false;
    });      

   
   
    $('#REGISTERFORM').click(function(){

        var MobileNumber = $('#MobileNumber').val();
        var FirstName= $('#FirstName').val();
        var LastName= $('#LastName').val();
        var Email= $('#Email').val();
        if (MobileNumber.length < 1) {
            alert('Mobile Number is empty.');     
              return false;
        } 
        else 
        {
            var pattern = /^(^\+62\s?|^0)(\d{3,4}-?){2}\d{3,4}$/;
            var bol = pattern.test(MobileNumber);
            if (bol ==  false) {
                alert('Mobile number format is wrong, example : 08122050191, +628122020191');
                return bol;
            }    
            
        }
        if (FirstName.length < 1) {
            alert('First Name is empty.');
            return false;

        } else if (LastName.length < 1) {
            alert('Last Name is empty.');
            return false;
        } else if (Email.length < 1) {
            alert('Email is empty.');
            return false;
        } else {
            var pattern = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            var bol = pattern.test(Email);
            if (bol ==  false) {
                alert('Email Format is wrong, example : aaa@gmail.com, aaaddd@gmail.com');
            }    
            return bol;
        }

    });

    </script>

    @if (@ViewBag.Message != null)
    {        
        <script type="text/javascript">            
            $(function () {
                var val = @ViewBag.Message;                          
                if(val == -1) {                                     
                    $("label[for='Registration']").html("Mobile number already exist");                    
                } else if (val == -2) {
                    $("label[for='Registration']").html("Email already exist");                    
                } else {                       
                    $("label[for='Registration']").html("Registration");     
                    $("#disableid").click();
                    $('#LOGID').show();                    
                }                
            });
            function grayer(formId, yesNo) {
            
                var f = document.getElementById(formId), s, opacity;
                s = f.style;
                opacity = yesNo ? '40' : '100';
                s.opacity = s.MozOpacity = s.KhtmlOpacity = opacity / 100;
                s.filter = 'alpha(opacity=' + opacity + ')';
                for (var i = 0; i < f.length; i++) f[i].disabled = yesNo;
            }
</script>
    }
;
}
