﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> <table align="center">
    <tr>
        <td align="left">
            @Html.Label("Login", "Login")

        </td>
    </tr>
    <tr>
        <td align="left">
           @Html.Label("User name", "User name")
        </td>
        <td align="left">
            @Html.TextBox("User name", "User Form")
        </td>
    </tr>
    <tr>
        <td align="left">
            @Html.Label("Password", "Password Form")
        </td>
        <td align="left">
            @Html.TextBox("Password", "Password")
        </td>
    </tr>
    
    <tr>
        <td align="center"><input  type="submit" id="REGISTERFORM" value="Login" /></td>

    </tr>
    <tr></tr>

</table>
    </div>
</body>
</html>
